[user]
	name = yukiasai
	email = yukiasai@gmail.com
[alias]
  lt = log --graph --pretty=format:'%C(red)%h%Creset -%C(auto)%d%Creset %s %C(cyan)%an%Creset %C(green)%cd%Creset' --abbrev-commit --date=iso
  lta = log --graph --all --pretty=format:'%C(red)%h%Creset -%C(auto)%d%Creset %s %C(cyan)%an%Creset %C(green)%cd%Creset' --abbrev-commit --date=iso
  ltd = log --graph --all --pretty=format:'%C(red)%h%Creset -%C(auto)%d%Creset %C(cyan)%an%Creset %C(green)%cd%Creset %n%s%n' --abbrev-commit --date=iso
[color "decorate"]
  head = yellow bold
  branch = yellow
  remotebranch = yellow ul
  tag = yellow reverse
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[core]
	editor = vim
